body {
    font-family: 'Playfair Display', serif;
    margin: 20px;
    background: linear-gradient(135deg, #f4f6f9, #e9ecef);
}

/* HEADER */
.page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
	margin-top: 20px;
}

/* supaya h2 betul-betul center */
.page-header h2 {
    flex: 1;
    text-align: center;
    margin: 0;
	font-size: 30px;
}

/* BACK BUTTON */
.btn-back {
    background: #6c757d;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 6px;
    font-weight: bold;
    transition: 0.3s;
	font-size: 18px;
}

.btn-back:hover {
    background: #5a6268;
}

/* ADD BUTTON */
.btn-add {
    background: #198754;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 6px;
    font-weight: bold;
    transition: 0.3s;
	font-size: 18px;
}

.btn-add:hover {
    background: #146c43;
}

/* TABLE */
table {
    width: 100%;
    border-collapse: collapse;
    background: white;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 10px rgba(0,0,0,0.08);
}

th {
    background: #6c757d;
    color: white;
    padding: 12px;
	font-size: 18px;
}

td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #eee;
	font-size: 16px;
	text-transform: capitalize;
}

tr:hover {
    background: #f1f1f1;
}

/* Zebra striping */
tr:nth-child(even){
    background: #f9f9f9;
}

/* Action links */
td a{
    text-decoration: none;
    font-weight: bold;
    margin: 0 5px;
	transition: 0.2s;
}

/* View button */
td a:first-child{
    color: #0d6efd;
}

/* Edit button */
td a:nth-child(2){
    color: #f39c12;
}

/* Delete button */
td a:last-child{
    color: #e74c3c;
}

/* Hover effect for links */
td a:hover{
    text-decoration: underline;
	opacity: 0.7;
}

/* IMAGE */
.img-preview {
    width: 90px;
    height: 70px;
    object-fit: cover;
    border-radius: 4px;
    border: 1px solid #ddd;
}

.date-list {
    font-size: 0.85em;
    color: #555;
}

/* STATUS */
.status-active {
    background: #d1e7dd;
    color: #0f5132;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 12px;
}

/* ACTION BUTTONS */
.btn-view {
    background: #0dcaf0;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
	font-size: 16px;
    transition: 0.3s;
	margin-right: 8px;
}

.btn-edit {
    background: #0d6efd;
    color: white;
    padding: 6px 12px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    transition: 0.3s;
	margin-right: 8px;
}

.btn-edit:hover {
    background: #0b5ed7;
}

.btn-delete {
    background: #dc3545;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
	font-size: 16px;
    transition: 0.3s;
}

.btn-delete:hover {
    background: #bb2d3b;
}