body {
	background: linear-gradient(135deg, #f4f6f9, #e9ecef);
	font-family: 'Playfair Display', serif;
}

.page-header {
	display: flex;
    align-items: center;
    gap: 15px;
    margin: 20px;
}
	
/* supaya h2 betul-betul center */
.page-header h2 {
	flex: 1;
	text-align: center;
	margin: 0;
	font-size: 30px;
}

.btn-back {
    background: #6c757d;
	color: white;
	padding: 10px 15px;
	text-decoration: none;
	border-radius: 6px;
	font-weight: bold;
	transition: 0.3s;
	font-size: 18px;
}

    .form-container {
        width: 80%;
        margin: auto;
		margin-bottom: 30px;
        background: white;
        padding: 25px;
        border-radius: 10px;
        box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    }

    .form-group {
        margin-bottom: 18px;
    }

    label {
        font-weight: bold;
        display: block;
        margin-bottom: 6px;
		font-size: 18px;
		color: #000;
    }

    input, select, textarea {
        width: 100%;
        padding: 10px;
        border-radius: 6px;
        border: 1px solid #ccc;
		box-sizing: border-box; /* penting */
		font-family: 'Playfair Display', serif;
		font-size: 15px;
		text-transform: capitalize;
    }

    textarea {
        resize: vertical;
    }

    .hint {
        font-size: 13px;
		color: #666;
        margin-top: 5px;
        background: #f1f1f1;
        padding: 10px;
        border-radius: 6px;
    }

    .btn-add-date {
        margin-top: 10px;
        background: #198754;
        color: white;
        padding: 8px 12px;
        border: none;
        border-radius: 6px;
        cursor: pointer;
		font-family: 'Playfair Display', serif;
		font-size: 18px;
    }

    .btn-submit {
        background: #6c757d;
        color: white;
        padding: 10px 18px;
        border: none;
		border-radius: 6px;
        cursor: pointer;
		font-family: 'Playfair Display', serif;
		font-size: 18px;
    }
	
	.btn-submit:hover {
		background: #495057;
	}

	.highlight-item {
		display: flex;
		gap: 10px;
		margin-bottom: 10px;
	}

	.highlight-item input {
		flex: 1;
	}